.imgProdutoAnuncio {
    border-radius: 10px;    
}

.imgProdutoAnuncio:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .3s;
    border: solid 2px #9e9e9e;
} 

#idModalComentario {
    top: 25%;
}

#btnAdicionarComentario:hover {
    cursor: pointer;    
}

.img-responsive {
    margin: 0 auto;
}

.nomeUsuario {
    font-size: 17px;
}

.linhaComentario:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform .5s;
    border: solid 2px #9e9e9e;
}

.fa-star {
    color: #ffee58;
}

.fa-trash { 
    float: right;
    color: #9e9e9e;
}

.fa-trash:hover { 
    float: right;
    color: red;
    transform: scale(1.2);
    transition: transform .5s;
}

.iconeAvaliacao:hover, #avaliacao > span:hover{
    transform: scale(1.2);
    transition: transform .3s;
}

#avaliacao > span:hover {
    transform: scale(1.2);
    transition: transform .3s;
}

.iconeAvaliacao:hover {
    cursor: pointer;
}